//images
.image {
  position: relative;
  img {
    display: block;
    width: inherit;
    height: inherit;
    visibility: hidden;
    opacity: 0;
    transition: opacity $trs3;
    &.loaded {
      visibility: visible;
      opacity: 1;
    }
  }
}
.link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  transition: $trs1;
  &.touch,
  &.hover {
    color: $colorA;
  }
}
.cover {
  background: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
  }
}
.contain {
  background-size: contain;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
    object-position: center;
  }
}
.background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity $trs3;
  &.loaded {
    opacity: 1;
  }
  &_bottom {
    background-position: center bottom;
  }
}

.logo {
  &__image {
    height: 40px;
    width: auto;
    display: block;
    transition: fill $trs1;
  }
}


.preloader {
  display: flex;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  &__element {
    margin: auto;
    width: 100px;
    height: 100px;
  }
}

.socials {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    list-style: none;
    padding: 0;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  &__link {
    transition: $trs1;
    .icon {
      width: 35px;
      height: 35px;
      fill: #7A7A7A;
      transition: inherit;
      display: block;
    }
    &.touch,
    &.hover {
      .icon {
        fill: $colorA !important;
      }
    }
  }
}