doctype html
html(lang="ru")
  head
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-163777093-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-163777093-1');
    meta(charset="utf-8")
    title Эко-Тех - Ремонт, диагностика и подбор электротранспорта в Николаеве
    meta(name='description', content='Ремонт и диагностика электросмокатов, гироскутеров, моноколес в Николаеве')
    meta(name='keywords', content='Ремонт электрсоамоката, ремонт гироскутера, ремонт моноколеса, ремонт электровелосипеда, ремонт электротранспорта в Николаеве, электросамокат, гироскутер, моноколесо, электровелосипед')
    meta(name='format-detection', content='telephone=no') 
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel="shortcut icon" href="https://eco-mk.com.ua/img/favicons/favicon.ico" type="image/x-icon")
    link(rel="icon" sizes="16x16" href="https://eco-mk.com.ua/img/favicons/favicon-16x16.png" type="image/png")
    link(rel="icon" sizes="32x32" href="https://eco-mk.com.ua/img/favicons/favicon-32x32.png" type="image/png")
    link(rel="apple-touch-icon-precomposed" href="https://eco-mk.com.ua/img/favicons/apple-touch-icon-precomposed.png")
    link(rel="apple-touch-icon" href="https://eco-mk.com.ua/img/favicons/apple-touch-icon.png")
    link(rel="apple-touch-icon" sizes="57x57" href="https://eco-mk.com.ua/img/favicons/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="https://eco-mk.com.ua/img/favicons/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="https://eco-mk.com.ua/img/favicons/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="https://eco-mk.com.ua/img/favicons/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="https://eco-mk.com.ua/img/favicons/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="https://eco-mk.com.ua/img/favicons/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="https://eco-mk.com.ua/img/favicons/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="https://eco-mk.com.ua/img/favicons/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="167x167" href="https://eco-mk.com.ua/img/favicons/apple-touch-icon-167x167.png")
    link(rel="apple-touch-icon" sizes="180x180" href="https://eco-mk.com.ua/img/favicons/apple-touch-icon-180x180.png")
    link(rel="apple-touch-icon" sizes="1024x1024" href="https://eco-mk.com.ua/img/favicons/apple-touch-icon-1024x1024.png")
    //socials
    meta(property='og:type', content='business.business')
    meta(property='og:title', content='Эко-Тех')
    meta(property='og:description', content='Ремонт и диагностика электросмокатов, гироскутеров, моноколес в Николаеве')
    meta(property='og:url', content='https://eco-mk.com.ua/')
    meta(property='og:image', content='https://eco-mk.com.ua/img/favicons/apple-touch-icon-1024x1024.png')
    meta(property='business:contact_data:locality', content='Николаев')
    meta(property='business:contact_data:country_name', content='Украина')

    //styles
    link(rel="stylesheet" href="styles/common.min.css")
  body
    //preloader
    .preloader
      svg.preloader__element(viewBox='0 0 80 139.7', xml:space='preserve')
        defs
          mask(id='mask-1' x='0' y='0' width='100' height='100')
            rect(x='0' y='0' width='100%' height='100%' fill='#000')
            path(fill-rule="evenodd" fill='#fff' clip-rule="evenodd" d='M6.2 0l2.1 3.2c7.4 9.8 15.8 21.5 23.2 31.7l6.3 8.8c.4.7 1.8 2.5 2.1 2.8l-28.1-8.1c.4 1.1 27.8 38.3 30.6 41.9 1.1 1.4 3.5 4.9 4.2 6l-28.8-7.7c.4 1.1 5.6 6.3 7.4 8.1.7.7.7 1.1 1.4 1.8l6 6.3c.7.7 1.1.7 1.4 1.4.4.7.7 1.1 1.4 1.4l2.8 3.2c1.1 1.1 2.1 2.5 2.8 3.2-6 1.1-14.8-2.5-19.3-4.9-4.6-2.5-9.8-7.4-12.7-11.6C3.4 78.7.9 69.6 3 58.7c1.1-5.3 2.5-6.3 2.8-9.1C3 52.4.6 61.6.2 65.1c-.7 6.3.4 13 2.5 18.6 6.7 16.9 22.9 27.1 40.8 25.7.7 0 1.4-.4 2.1 0l10.2 10.9c1.1 1.1 1.4 1.8 2.5 2.8l15.5 16.5c-1.1-1.8-27.4-37.6-31.3-43.3-.4-.7-1.8-2.1-1.8-2.8l27.8 8.1c-.4-.7-.7-1.1-1.1-1.8L46.6 71.4c-1.4-2.1-2.8-3.9-4.2-6-1.4-1.8-8.1-10.9-8.4-12l28.8 7.7-4.2-4.9c-.7-.7-1.1-.7-1.4-1.4-.4-.7-1.1-1.1-1.4-1.8l-4.9-4.2C49.8 47.5 40 37.3 39.6 36.2c15.5-.4 26 8.4 31.7 16.5 5.6 8.1 7.7 18.6 5.6 29.2-1.1 4.9-2.5 6.3-2.8 8.8 2.8-3.5 4.9-10.6 5.6-15.8 2.1-17.2-7.7-34.1-22.9-40.8-6-2.8-13.4-4.2-20.8-3.5-2.5.4-1.4.4-3.2-1.8L18.9 13.4c-1.1-1.1-1.8-1.8-2.5-2.8L6.2 0z')
        rect(x='0' y='0' width='100%' height='100%' fill='#fff' mask='url(#mask-1)')
        rect.preloader__item(x='0' y='100%' width='100%' height='100%' fill='#0d871d' mask='url(#mask-1)')
        
    .wrapper(style='visibility:hidden;opacity:0;')
      include ../blocks/header
      block content
      include ../blocks/footer
    //jquery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    //scripts
    script(src="js/common.min.js")