section.section.contacts#contacts
  .container.mb-30
    h4.section__title Контакты
    .contacts__container
      p.contacts__adress.mb-20 г.Николаев<br> район “Северный”<br> 
        a(href="tel:0680691132").link +38(068)-069-11-32
      .mb-20
        include socials
      p.contacts__time Пн-Сб с 9:00 до 19:00
  .contacts__map
    iframe.map.lazy(data-src='https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d4879.51251806882!2d31.998682774880603!3d47.01786661868652!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1586434290005!5m2!1sru!2sua')
            