section.section.contacts#contacts
  .container.mb-30
    h4.section__title Контакты
    .contacts__container
      .mb-20
        a(href="tel:0680691132").link +38(068)-069-11-32
      .mb-20
        include socials
      p.contacts__time Пн-Сб с 9:00 до 19:00
  .contacts__map
    iframe.map.lazy(data-src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d43566.4980154352!2d31.9654779!3d46.9635344!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c5c9306354a9a7%3A0xc657989336cd1e08!2zRWNvLW1rINCg0LXQvNC-0L3RgiDRjdC70LXQutGC0YDQvtGB0LDQvNC-0LrQsNGC0L7Qsiwg0LPQuNGA0L7RgdC60YPRgtC10YDQvtCy!5e0!3m2!1sru!2sua!4v1629044716802!5m2!1sru!2sua')
            