section.section.home#home
  .background.background_bottom.lazy(data-src='img/bg.jpg')
  .container
    .home__container
      h1.home__title Ремонт<br> персонального электротранспорта<br> в Николаеве
      a(href="#contacts").button.scrollTo Связаться с нами

