section.section.services#services
  .container
    h4.section__title Услуги:
    .row.mb--20
      .mb-20.col-xl-6.col-12
        //block
        .services-block.js-touch-hover.mb-20
          a(href="javascript:void(0);").services-block__head
            h6.services-block__title Профессиональная диагностика
            svg.icon
              use(xlink:href='img/svg/sprite.svg#arrow')
          .services-block__content
            p Любой ремонт начинается с выявления причины неисправности. В среднем диагностика занимает около суток, после чего мы связываемся с вами для согласования ремонтных работ, стоимости и сроков.
        //block
        .services-block.js-touch-hover.mb-20
          a(href="javascript:void(0);").services-block__head
            h6.services-block__title Плановое обслуживание
            svg.icon
              use(xlink:href='img/svg/sprite.svg#arrow')
          .services-block__content
            p Ни для кого не секрет, что для долгой и бесперебойной работы любое устройство  требует своевременного обслуживания. 
            p Мы производим полный спектр профилактических работ для персонального электротранспорта. 
        //block
        .services-block.js-touch-hover.mb-20
          a(href="javascript:void(0);").services-block__head
            h6.services-block__title Ремонт и сборка аккумуляторных батарей
            svg.icon
              use(xlink:href='img/svg/sprite.svg#arrow')
          .services-block__content 
            p Одним из важнейших компонентов электротранспорта является аккумуляторная батарея. Именно от ёё качества и работоспособности зависит дальность пробега на одном заряде.
            p Мы предлагаем  услуги по ремонту батарей, балансирных плат, усилению штатной батареи, а также сборке новой батареи с применением высокотоковых ячеек от лучших производителей.
            p При сборке батареи проверяется и тщательно тестируется каждая отдельная ячейка, что гарантирует долгую и бесперебойную работу батареи.
        //block
        .services-block.js-touch-hover.mb-20
          a(href="javascript:void(0);").services-block__head
            h6.services-block__title Перемотка двигателей
            svg.icon
              use(xlink:href='img/svg/sprite.svg#arrow')
          .services-block__content
            p Одной из стандартных поломок электротранспорта  является перегрев электродвигателя, в следствие чего может потребоваться перемотка обмоток. Так-же перемотка осуществляется при желании изменить тягово-скоростные характеристики мотора.
        //block
        .services-block.js-touch-hover
          a(href="javascript:void(0);").services-block__head
            h6.services-block__title Ремонт механических узлов 
            svg.icon
              use(xlink:href='img/svg/sprite.svg#arrow')
          .services-block__content
            p Мы производим комплексный ремонт как механических так и электрических неисправностей. В мастерской имеется всё необходимое оборудование для ремонта  механических узлов, электронных плат, батарей, двигателей и пр.  
      .mb-20.col-xl-6.col-12
        //block
        .services-block.js-touch-hover.mb-20
          a(href="javascript:void(0);").services-block__head
            h6.services-block__title Ремонт электронных компонентов
            svg.icon
              use(xlink:href='img/svg/sprite.svg#arrow')
          .services-block__content
            p Мы производим комплексный ремонт как механических так и электрических неисправностей. В мастерской имеется всё необходимое оборудование для ремонта  механических узлов, электронных плат, батарей, двигателей и пр.
        //block
        .services-block.js-touch-hover.mb-20
          a(href="javascript:void(0);").services-block__head
            h6.services-block__title Гидроизоляция
            svg.icon
              use(xlink:href='img/svg/sprite.svg#arrow')
          .services-block__content
            p Большинство производителей не уделят должного внимания защите своих устройств от попадания влаги. Попадание воды внутрь корпуса электротранспорта может привести не только к поломке, но и к возгоранию батареи. 
            p Мы проводим полный комплекс работ по гидроизоляции Вашего устройства.
        //block
        .services-block.js-touch-hover.mb-20
          a(href="javascript:void(0);").services-block__head
            h6.services-block__title Помощь в выборе и покупке
            svg.icon
              use(xlink:href='img/svg/sprite.svg#arrow')
          .services-block__content
            p Мы не занимаемся продажей транспорта, однако можем помочь выбрать наилучший вариант, согласно Вашим потребностям и бюджету.
            p Мы поможем определиться с выбором, дадим полезные советы, на основании опыта работы с различными производителями.
            p В случае покупки Б.У. устройства, проведем выездную диагностику.
        //block
        .services-block.js-touch-hover.mb-20
          a(href="javascript:void(0);").services-block__head
            h6.services-block__title Создание уникального электротранспорта
            svg.icon
              use(xlink:href='img/svg/sprite.svg#arrow')
          .services-block__content
            p Часто бывает, что в продаже нет устройства, полностью удовлетворяющего Ваши потребности. В таком случае, мы будем рады создать для вас кастомную модель самоката, электроскейта или другого персонального электротранспорта.
        //block
        .services-block.js-touch-hover.mb-20
          a(href="javascript:void(0);").services-block__head
            h6.services-block__title Технические консультации
            svg.icon
              use(xlink:href='img/svg/sprite.svg#arrow')
          .services-block__content
            p Не всегда для устранения неисправности требуется везти Ваше устройство в мастерскую. Иногда бывает достаточно произвести диагностику и решить проблему в телефонном режиме. А иногда просто возникает необходимость проконсультироваться по тому или иному техническому вопросу. Для клиентов нашей мастерской такие консультации абсолютно бесплатны!