.socials
  .socials__list
    li.socials__item
      a(href="tg://resolve?domain=@a94623").socials__link
        svg.icon
          use(xlink:href='img/svg/sprite.svg#telegram')
    li.socials__item
      a(href="viber://chat?number=0680691132").socials__link
        svg.icon
          use(xlink:href='img/svg/sprite.svg#viber')
    li.socials__item
      a(href="tel:0680691132").socials__link
        svg.icon
          use(xlink:href='img/svg/sprite.svg#mobile')