section.section.why#why
  .background.background_bottom.lazy(data-src='img/bg2.jpg')
  .container
     h4.section__title Почему к нам стоит обратиться?
     .why__content
      //block
      .why-block.mb-40
        .why-block__num 1.
        .why-block__text
          h6.why-block__title Спектр улуг.
          p Вам не нужно искать отдельного мастера для ремонта платы, замены покрышки или настройки тормозной системы.
      //block
      .why-block.mb-40
        .why-block__num 2.
        .why-block__text
          h6.why-block__title Общение с клиентом.
          p Мы никогда не ремонтируем устройство без согласования с клиентом. Цена ремонта не станет для вас сюрпризом.
      //block
      .why-block.mb-40
        .why-block__num 3.
        .why-block__text
          h6.why-block__title Скорость. Качество. Цена.
          p В среднем, диагностика производится в течении суток.  Мы придерживаемся<br> лояльной ценовой политики. 
      //block
      .why-block.mb-40
        .why-block__num 4.
        .why-block__text
          h6.why-block__title Индивидуальный подход.
          p У нас нет фиксированного прайс-листа, вы платите только за<br> реально выполненную работу.
      //block
      .why-block.mb-40
        .why-block__num 5.
        .why-block__text
          h6.why-block__title Гарантия.
          p Мастерская предоставляет гарантию 1 год на выполненную работу. Отметим, что гарантия распространяется только на работу, но не на комплектующие.